body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(245, 150, 189);
}

a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

input, button{
    border-radius: 8px;
    background-color: black;
    color: white;
    text-align: center;
}

nav{
    width: 100%;
    padding: 10px 0;
    border: 0;
    background-color: black;
}